<div class="page-title">
  @if (!isHomePage) {
    <a routerLink="">
      <app-ui-icon icon="mdiArrowLeft" title="На главную"></app-ui-icon>
    </a>
  }
  <h1 class="page-title__name">{{ title }}</h1>
  <div class="page-title__repos">
    @for (link of repos; track link.name) {
      @if (link.name === 'GitHub') {
        <a
          class="page-title__repo"
          [href]="'https://github.com/vdistortion/' + link.url"
          target="_blank"
        >
          <app-ui-icon
            icon="mdiGithub"
            [size]="30"
            color="#0D74E7"
          ></app-ui-icon>
        </a>
      } @else if (link.name === 'npmjs') {
        <a
          class="page-title__repo"
          [href]="'https://www.npmjs.com/package/' + link.url"
          target="_blank"
        >
          <app-ui-icon icon="mdiNpm" [size]="50" color="#cb3837"></app-ui-icon>
        </a>
      }
    }
  </div>
</div>
@if (links.length) {
  <div class="page-title__links">
    @for (link of links; track link.name) {
      <a class="page-title__link" [href]="link.url" target="_blank">
        <app-ui-icon icon="mdiLinkVariant" [size]="16"></app-ui-icon>
        {{ link.name }}
      </a>
    }
  </div>
}
