@import '../../../styles/colors';

.page-title {
  display: flex;
  column-gap: 20px;
  align-items: center;

  &__links {
    display: flex;
    column-gap: 20px;
    align-items: center;
    margin: 10px 0 20px;
  }

  &__link {
    text-decoration: none;
    font-size: 20px;
    color: inherit;

    &:hover {
      color: var(--title-color);
    }
  }

  &__name {
    color: var(--title-color);
    font-size: 40px;
    margin: 0;
  }
}
