<div id="app">
  <div class="page">
    @if (isHomePage()) {
      <header class="page__header">
        <div class="l-wrapper">
          <!-- Анимированная SVG https://maxwellito.github.io/vivus-instant/ -->
          <img
            class="page__logo"
            [ngSrc]="'logo.svg?hash=' + cacheBust"
            width="1100"
            height="195"
            priority
            alt="logo"
            title="Валентин"
          />
        </div>
      </header>
    }
    <main>
      <div class="l-wrapper">
        <div class="page__title">
          <app-page-title
            [title]="name()"
            [repos]="repos()"
            [links]="links()"
            [isHomePage]="isHomePage()"
          ></app-page-title>
        </div>
        <div class="page__tags">
          <app-tags-cloud
            [tags]="tags()"
            [tech]="tech()"
            [activeTag]="activeTag()"
            [isHomePage]="isHomePage()"
          ></app-tags-cloud>
        </div>
        <ng-content></ng-content>
      </div>
    </main>
  </div>
  <footer>
    <div class="l-wrapper">
      <app-footer-content></app-footer-content>
    </div>
  </footer>
</div>
