$color1: #152347;
$color2: #1d2c4e;
$color3: #6d1485;
$color4: #a11ec6;
$color5: #c44ee4;
$color6: #92eaff;
$color7: #99a1b3;

$defaultColor: $color7; // цвет сетки
$bgColor: $color1; // цвет фона
$tagColor: $color6; // заголовок тегов и теги в карточке
$activeTagColor: $color5; // активный тег
$titleColor: $color4; // цвет лого и заголовки
$hoverCard: $color3; // активный проект
$projectCard: $color2; // проект
