$color1 = #000000
$color2 = #660066
$color3 = #5c0a5c
$color4 = #ff0000
$color5 = #dd0000
$color6 = #ffffff
$color7 = #99a1b3

$defaultColor = $color7 // цвет сетки
$bgColor = $color1 // цвет фона
$tagColor = $color6 // заголовок тегов и теги в карточке
$activeTagColor = $color5 // активный тег
$titleColor = $color4 // цвет лого и заголовки
$hoverCard = $color3 // активный проект
$projectCard = $color2 // проект
