@import '../../../styles/colors';

.tags-cloud {
  &__title {
    color: var(--tag-color);
    font-size: 18px;
    margin: 0;
  }

  &__list {
    margin-top: 5px;
  }

  &__tag {
    display: inline-block;
    text-decoration: none;
    color: currentColor;
    margin-right: 10px;

    &.active {
      color: var(--active-tag-color);
    }
  }
}
