@import "../../../../styles/colors";

.page-title {
  display: flex;
  column-gap: 20px;
  align-items: center;

  &__back {
    cursor: pointer;
  }

  &__links {
    display: flex;
    column-gap: 20px;
    margin: 10px 0 20px;
  }

  &__link {
    text-decoration: none;
    border-bottom: 2px solid currentColor;
    font-size: 20px;
    color: inherit;
  }

  &__name {
    color: $titleColor;
    font-size: 40px;
    margin: 0;
  }
}
