@import '../../../styles/colors';

.card {
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  background-color: var(--project-card);
  transition: background-color 0.2s;

  &.project {
    cursor: pointer;
    min-height: 200px;

    &:hover {
      background-color: var(--hover-card);
    }
  }
}
